[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
keras = "*"
skorch = { git = 'https://github.com/ThoughtWorksInc/skorch.git', editable = true }

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.6"
