[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
keras = "*"
skorch = { git = 'https://github.com/ThoughtWorksInc/skorch.git', editable = true }
tensorflow = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3"

[scripts]
"jupyter.sock" = "bash -c 'socat UNIX-LISTEN:jupyter.sock,fork,reuseaddr TCP4:127.0.0.1:8888 & pipenv run jupyter notebook --ip=127.0.0.1 --port=8888'"
